<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.rest.RESTServicePlugin</class>
    <name>REST API</name>
    <description>Allows administration over a RESTful API.</description>
    <author>Roman Soldatow</author>
    <version>${project.version}</version>
    <date>2026-09-24</date>
    <minServerVersion>5.1.0</minServerVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="rest-api" name="${restapi.admin.item.settings.name}" url="rest-api.jsp"
                     description="${restapi.admin.item.settings.description}" />
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
